<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array/>
	<array>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>collect</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>title</key>
			<string>意见反馈</string>
			<key>icon</key>
			<string>feedback</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>title</key>
			<string>推荐好友</string>
			<key>icon</key>
			<string>img_recommend</string>
		</dict>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>title</key>
			<string>设置</string>
			<key>icon</key>
			<string>setting</string>
		</dict>
	</array>
</array>
</plist>
